
@media (min-width: 48em) {
  .THIS {
    /*.fixed-col *
    {
        width: inherit;
    }
    */
  }
  .THIS .slds-medium-size--4-of-12 > div {
    width: 100%;
  }
  .THIS .fix-nav .slds-medium-size--4-of-12 section {
    position: fixed;
    top: 0;
  }
}